<h2>Welcome, {{user.name}}</h2>

<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-12 col-md-6 pb-5'>
			<div class='card card-custom'>
				<div class='card-body'>
					<h5 class='card-title'>Recent Workouts
					</h5>
					<br />
					<div class='container-fluid'>
						<form class='row new-workout-form'>
							<div class='col-6'>
								<div class='card card-custom workout-card'>
									<div class='card-body'>
										<h6 class='card-title'>Workout
										</h6>
										<input type='text' placeholder='Workout Name' id='user-workout' />
									</div>
								</div>
							</div>
							<div class='col-6'>
								<div class='card card-custom workout-card'>
									<div class='card-body'>
										<h6 class='card-title'>Stats
										</h6>
										<input
											type='text'
											placeholder='Sets'
											id='user-sets'
											class='stats-input'
										/>
										<input
											type='text'
											placeholder='Reps'
											id='user-reps'
											class='stats-input'
										/>
										<input
											type='text'
											placeholder='Weight'
											id='user-weight'
											class='stats-input'
										/>

									</div>
								</div>
							</div>
							<button class="hide" type='submit'>Submit</button>
						</form>
						{{#if workouts.length}}
						<div class="container-fluid">
							<div class="row">
								<div class='workout-list'>
									<h3>Workouts</h3>

									{{#each workouts as |workout|}}
										<div class='card card-custom input-card'>
											<div class=''>
												<h4>{{workout.name}}</h4>
											</div>
												<p>Sets: {{workout.sets}} </p>
												<p>Reps: {{workout.reps}} </p>
												<p>Weight: {{workout.weight}}lbs</p>
											<div class=''>
											<button class='btn btn-danger' data-id='{{workout.id}}'>DELETE</button>
											</div>
										</div>
									{{/each}}
								</div>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-12 col-md-6 pb-5'>
			<div class='card card-custom'>
				<div class='card-body'>
					<h5 class='card-title'>Stats Graph</h5>
          <canvas id="workoutChart"/>
					<br />
				</div>
			</div>
		</div>
	</div>
</div>


          <script src="./js/downloaded-chart.js"></script>

        </div>
      </div>
    </div>
  </div>
</div> 
<script src="./js/graph.js"></script>
<script src='./js/profile.js'></script>